aiohttp==3.7.4.post0
async-timeout==3.0.1
asyncio==3.4.3
attrs==20.3.0
bidict==0.21.2
chardet==4.0.0
dnspython==1.16.0
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.0.0
idna==3.1
multidict==5.1.0
python-engineio==4.0.1
python-socketio==5.1.0
six==1.15.0
typing-extensions==3.7.4.3
uWSGI==2.0.19.1
websockets==8.1
yarl==1.6.3
zope.event==4.5.0
zope.interface==5.3.0
