.controls {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1%;
  border: 5px solid black;
}

.control {
  padding: 1%;
}

.info {
  max-width: 25%;
  text-align: justify;
}
