.room {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hand {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 0.5vh solid black;
  min-height: 33vh;
  background-color: #B52224;
}

